.Dashboard {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: #073b4c;
}
.table-societe {
  font-size: 11px;
   margin: 0 10px; 
   margin: 30px 10px;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}
.table-societe th {
  text-align: center;
  padding: 0 3px;
}
.table-societe td {
  border-top: 1px solid #073b4c;
  text-align: center;

}
.table-societe thead,
.table-societe tfoot {
  background-color: #073b4c;
  color: #fff;
}

.Dashboard-button {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 30px;
  
}
.Dashboard-button1 button {
  margin-right: 20px;
  background-color: #073b4c;
  color: aliceblue;
  border: none;
  width: 100%;
  border-radius: 10px;
  transition: 0.4s all ease-in;
}
.Dashboard-button2 button {
  margin-left: 20px;
  background-color: #073b4c;
  color: aliceblue;
  border: none;
  width: 100%;
  border-radius: 10px;
  transition: 0.4s all ease-in;
  }
.buttons-table button {
  background-color: #0077b6;
  color: aliceblue;
  border: none;
  width: 80%;
  margin: 2px 0;
  border-radius: 10px;
  transition: 0.4s all ease-in;
}
.buttons-table button:hover {
  background-color: #a0c4ff;
}
.table-produit{
  font-size: 11px;
   margin: 0 10px; 
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}
.table-produit th {
  text-align: center;
  padding: 0 3px;
}
.table-produit td {
  border-top: 1px solid #073b4c;
  text-align: center;
}
.table-produit thead,
.table-produit tfoot {
  background-color: #073b4c;
  color: #fff;
}
.buttons-table-produit{
  display: flex;

}
.buttons-table-produit button{
  background-color: #0077b6;
  color: aliceblue;
  border: none;
  width: 80%;
  margin: 2px 5px;
  border-radius: 10px;
  transition: 0.4s all ease-in;
}