/* <nav> */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: #55aaf0;
}
.navbar h1 {
  margin: 0;
}
svg {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
}
.logo {
  display: flex;
  padding: 0 0 0 10%;
  align-items: center;
  flex: 3;
}
.navbar-nav {
  flex: 1;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

/* <li> */
.nav-item {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item a {
  display: flex;
  align-items: center;
}
.nav-item i {
  margin-top: 10px;
}

/* Icon Button */
.icon-button {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  /* fill: var(--text-color); */
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 60px;
  width: 300px;
  transform: translateX(+20%);
  background-color: #3380d8;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: white;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
@media (max-width: 730px) {
}
@media (max-width: 930) {
}
@media (min-width: 1275px) {
}
